  <h1>TODO 一覧</h1>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <tbody>
        <% @todos.each do |todo| %>
        <% checked = todo.done %>
        <tr>
          <td>
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox" value="<%= todo.content %>" <%= "checked" if todo.done %> disabled />
              </span>
              <input type="text" class="form-control" value="<%= todo.content %>" disabled />
              <div class="input-group-btn">
                <%= link_to edit_todo_path(todo), class: "btn btn-mini btn-default" do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <% end %>
                <%= link_to todo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-default" do %>
                <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to new_todo_path, class: "btn btn-mini btn-primary" do  %>
  <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;追加する
  <% end %>
